* {
    box-sizing: border-box;
}

/* Container for flexboxes */ /* after adding this, the columns displayed as actual columns. find out why here and not with column */
.flexboxRow { 
    display: flex;
    flex-wrap: wrap;
}

 /* Create three equal entries in myflexbox */
 .flexboxColumn {
     flex: 33%;
     padding: 20px;
 }

 /* Media query - on screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
   .myflexboxRow {
     flex-direction: column;
   }
 }