* { /* what is the astrix for? */
    box-sizing: border-box;  /* what does this line do?  */
}

.topOfPage {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(153, 125, 180);
    padding-left: 2.5rem;
}

.flexboxRow {
    display: flex;
    flex-wrap: wrap;
}

.flexboxColumn {
    flex: 50%;
    padding: 20px
}


