* { 
    box-sizing: border-box;  
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.topOfPage {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(98, 175, 199);
    padding-left: 2.5rem;
}

.flexboxRow {
    display: flex;
    flex-wrap: wrap;
}


.flexboxColumn {
    flex: 50%;
    padding: 20px;
    background-color: rgb(223, 231, 235);
}